$boxWidth: 430px
$boxHeight: 580px

$boxHeaderHeight: 80px
$boxBodyHeight: $boxHeight - $boxHeaderHeight

.recipe-box
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: $boxWidth
	height: $boxHeight

	.box-header
		height: $boxHeaderHeight
		background: #37548f
		box-shadow: 2px 2px 3px #000

		.box-title
			color: #FFF

		.add-recipe
			box-shadow: 2px 2px 3px #2a2f6c

	.box-body
		overflow: auto
		max-height: $boxBodyHeight
		box-shadow: 2px 2px 3px #000

		.empty-box-body
			padding: 10px
			box-shadow: 2px 2px 3px #000
			background: #FFF
