.recipe-item, .recipe-name, .recipe-author
	transition-duration: 0.3s

.recipe-item
	height: 95px
	padding: 10px
	cursor: pointer
	background: #FFF

	&:hover
		background: #394866

		*
			color: #FFF

		.recipe-name
			color: #f5a71a
