.recipe-item, .recipe-name, .recipe-author
	transition-duration: 0.3s

.recipe-item
	display: flex
	flex-direction: column
	justify-content: center
	height: 115px
	padding: 10px
	cursor: pointer
	background: #FFF
	line-height: 1.5

	.detail-block
		display: flex
		justify-content: space-between
		align-items: center

	.recipe-author, .recipe-date-created
		font-size: 13px

	.recipe-author
		color: #555

	.recipe-date-created
		color: #777

	&:hover
		background: #394866

		*
			color: #FFF

		.recipe-name
			color: #f5a71a
