$containerHeight: 450px
$containerWidth:  480px

$modalHeaderHeight: 70px
$modalBodyHeight:   $containerHeight - $modalHeaderHeight

.recipe-info
	.modal-container
		height: $containerHeight !important
		width: $containerWidth

		.modal-header
			height: $modalHeaderHeight !important
			background: crimson !important

		.modal-body
			height: $modalBodyHeight !important
