.recipe-details
	display: flex
	flex-direction: column

	.detail-block
		display: flex
		justify-content: space-between

		.recipe-name
			padding: 5px
			border: 1px solid #555

		.meta-data-container
			display: flex
			flex-direction: column
			align-items: right


	.recipe-ingredients
		margin: 30px 0
		max-height: 150px

		.ingredient
			padding: 7px 7px 7px 37px
			background: #f7f7f7
			display: flex
			position: relative

			.recipe-number
				width: 30px
				position: absolute
				height: 100%
				background: crimson
				top: 0
				left: 0
				display: flex
				justify-content: center
				align-items: center
				color: #FFF
				font-weight: bold
