.recipe {
  padding: 20px;

  h1 {
    margin-top: 0;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    flex-direction: column;

    input, textarea {
      margin-bottom: 10px;
    }

    input {
      width: 200px;
    }

    textarea {
      width: 500px;
      height: 250px;
      padding: 10px;
      font-family: sans-serif;
    }

    button {
      background: crimson;
      color: #FFF;
      border: none;
      width: 100px;
      padding: 10px;
    }
  }
}
