.home {
  padding: 20px;
  display: flex;

  h1 {
    margin: 0;
  }

  .selected-recipe {
    margin: 0 30px;
    display: flex;
    border-radius: 5px;
    padding: 20px;

    .recipe-img {
      margin: 0 20px 0 0;
    }

    .recipe-info {
      min-width: 200px;

      h2 {
        text-decoration: underline;
      }

      .ingredients {
        padding: 10px;
        border: 1px solid #DDD;

        h3 {
          margin: 0;
        }

        ul {
          margin: 0;
          max-height: 180px;
          overflow-y: auto;
        }
      }
    }
  }

  .recipe-list {
    height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;

    .recipe-item {
      padding: 5px 30px;
      background: crimson;
      color: #FFF;
      border-radius: 5px;
      margin: 8px 0;
      cursor: pointer;
    }
  }
}
