.home {
  padding: 20px;
  display: flex;

  h1 {
    margin: 0;
  }

  .selected-recipe {
    margin-left: 10px;
    padding: 10px;

    .recipe-container {
      display: flex;
      margin-bottom: 10px;

      .recipe-img {
        margin: 0 20px 0 0;
        border-radius: 0;
      }

      .recipe-info {
        min-width: 200px;
        color: #555;

        h2 {
          text-decoration: underline;
        }

        .ingredients {
          padding: 10px;
          border: 1px solid #DDD;

          h3 {
            margin: 0;
          }

          ul {
            margin: 0;
            max-height: 180px;
            overflow-y: auto;

            li {
              margin: 3px 0;
            }
          }
        }
      }
    }

    .selected-recipe-buttons {
      button {
        border: none;
        padding: 10px;
        color: #FFF;
        cursor: pointer;
      }

      .edit-recipe {
        background: #32466e;
        margin-right: 3px;
      }

      .delete-recipe {
        background: #c22847;
      }
    }
  }

  .recipe-list {
    height: 400px;
    overflow-y: auto;
    padding: 10px;

    .recipe-item {
      padding: 5px 20px;
      background: #456f80;
      color: #FFF;
      margin: 3px 0;
      cursor: pointer;
      border-radius: 15px;
    }
  }
}
