$containerHeight: 400px
$containerWidth:  500px

$modalHeaderHeight: 70px
$modalBodyHeight:   $containerHeight - $modalHeaderHeight

.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  z-index: 999
  visibility: hidden
  background: rgba(0,0,0,0.2)
  transition-duration: 0.3s

  .modal-container
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    box-shadow: 2px 2px 6px #000
    height: $containerWidth
    width: $containerHeight
    background: #FFF
    transition-duration: 0.3s

    .modal-header, .modal-body
      width: 100%

    .modal-header
      height: $modalHeaderHeight
      background: #222

      .modal-title
        color: #FFF

    .modal-body
      padding: 10px
      height: $modalBodyHeight



.modal.show
  visibility: visible
  opacity: 1

  .modal-container
    top: 50% !important
